{%extends 'base.html'%}
{%block title_block%}
User Profile
{%endblock%}
{% block content %}
{%if changed%}
<div class="alert alert-success">{{value}} Updated Successfully!</div>
{%endif%}
<h2>Your Profile</h2>
{%if user.user_profile %}
<img src="/media/{{user.user_profile.profile_pic}}" class="rounded-circle" alt="picture" width="150px">
<br>
<br>
<a href="{%url 'app_login:change_pro_pic' %}" class="btn btn-info btn-sm">Change Profile Pic</a>
{%else%}
<img src="/media/profile_pics/profile-pic.jpg" class="rounded-circle" alt="Picture" width="100px">
<br>
<br>
<a href="{%url 'app_login:add_pro_pic' %}" class="btn btn-info btn-sm">Change Profile Pic</a>
{%endif%}
<p>Username:{{user.username}}</p>
<p>Email:{{user.email}}</p>
<p>Name:{{user.first_name}} {{user.last_name}}</p>
<br>
<a class='btn btn-primary btn-sm'href="{% url 'app_login:change_profile' %}">Edit Profile</a>
<a class='btn btn-danger btn-sm'href="{% url 'app_login:change_password' %}">Change Password</a>


{%endblock%}