{%extends 'base.html'%}
{%load crispy_forms_tags %}
{%block title_block%}
SignUp
{%endblock%}
{% block content %}
{%if registered%}
<div class="alert alert-success">
Account Created Successfully!
<a href="">Login Here</a>
</div>
{%else%}
<h2>Create New Account:</h2>
<form action="" method='POST'>
    {{form|crispy}}
    {%csrf_token%}
    <input type="submit" class='btn btn-success btn-sm'name="submit" value="submit">
</form>
<br>
<p>Already have an account?<a href="">Login</a></p>
{%endif%}
{%endblock%}